<div class="container mat-elevation-z6">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Overall">
      <app-player-stats-table
        class="container"
        [isLoading]="isLoading$ | async"
        [playersData]="playersData$"
        [showMatchesPlayed]="true"
        (rowClicked)="rowClicked($event)"
      ></app-player-stats-table>
    </mat-tab>
    <mat-tab label="Average per match">
      <app-player-stats-table
        class="container"
        [isLoading]="isLoading$ | async"
        [playersData]="playersDataPerMatch$"
        [showMatchesPlayed]="true"
        (rowClicked)="rowClicked($event)"
      ></app-player-stats-table>
    </mat-tab>
    <mat-tab label="Filtered players info">
      <div class="col-sm-auto">
        <h3 class="pt-3">Filters:</h3>
      </div>
      <div class="col-sm-auto">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <div [formGroup]="form">
            <input
              matInput
              [satDatepicker]="picker"
              formControlName="date"
              (dateChange)="dateChanged($event)"
            />
          </div>
          <sat-datepicker
            #picker
            [rangeMode]="true"
            [closeAfterSelection]="true"
          >
          </sat-datepicker>
          <sat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></sat-datepicker-toggle>
        </mat-form-field>
      </div>
      <app-player-stats-table
        class="container"
        [isLoading]="isLoading$ | async"
        [playersData]="filteredPlayers$"
        [showMatchesPlayed]="true"
        (rowClicked)="rowClicked($event)"
      ></app-player-stats-table>
    </mat-tab>
  </mat-tab-group>
</div>
