<mat-card
  class="match-card mt-2 blurry py-0 h-100"
  [ngClass]="{
    'result-glow-won': matchResult.Win === match.result && resultGlow,
    'result-glow-draw': matchResult.Draw === match.result && resultGlow,
    'result-glow-lost': matchResult.Lost === match.result && resultGlow,
    'mat-elevation-z2': resultGlow
  }"
  [ngStyle]="{ 'background-image': 'url(' + BackgroundUrl + ')' }"
  (click)="clicked.emit(match.id)"
>
  <div class="row h-100 align-items-center">
    <div class="col text-right team gradient-left">
      <div class="font-team font-blue card-body pr-0">
        {{ FirstTeam.name }}
        <img [src]="flagUrl(FirstTeam.flag)" alt="flag" />
      </div>
    </div>
    <div class="col-3 text-center score">
      <div class="row">
        <div
          class="col-6 d-inline-block text-right font-team font-team__score font-blue card-body pl-0 mt-4"
        >
          {{ FirstTeam.score }}
        </div>
        <div
          class="col-6 d-inline-block text-left font-team font-team__score font-yellow card-body pr-0 mt-4"
        >
          {{ SecondTeam.score }}
        </div>
      </div>
    </div>
    <div class="col text-left team gradient-right">
      <div class="font-team font-yellow card-body pl-0">
        <img [src]="flagUrl(SecondTeam.flag)" alt="flag" />
        {{ SecondTeam.name }}
      </div>
    </div>
  </div>
</mat-card>
