/* You can add global styles to this file, and also import other style files */
@import "~saturn-datepicker/bundle.css";

@font-face {
  font-family: "IndustryW00-Bold";
  src: url("./assets/fonts/b14485043aeeae9b1e5ad99f51fca8a7.eot"); /* IE9*/
  src: url("./assets/fonts/b14485043aeeae9b1e5ad99f51fca8a7.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/b14485043aeeae9b1e5ad99f51fca8a7.woff2")
      format("woff2"),
    /* chrome firefox */
      url("./assets/fonts/b14485043aeeae9b1e5ad99f51fca8a7.woff") format("woff"),
    /* chrome firefox */
      url("./assets/fonts/b14485043aeeae9b1e5ad99f51fca8a7.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("./assets/fonts/b14485043aeeae9b1e5ad99f51fca8a7.svg#IndustryW00-Bold")
      format("svg"); /* iOS 4.1- */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.clickable {
  cursor: pointer;
}

.table-container {
  overflow: auto;
}

.avatar {
  max-height: 3vh;
}

.no-data {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 30%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
  flex: 0 0 10%;
}

.row-spinner {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 120px;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}
