<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
              <clear />
              <rule name="Forward all routes to Angular router" stopProcessing="true">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                  <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                  <add input="{REQUEST_URI}" pattern="^/(assets)" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
              </rule>
              <rule name="Redirect to https" stopProcessing="true">
                  <match url=".*" />
                  <conditions>
                      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                  </conditions>
                  <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
              </rule>
          </rules>
        </rewrite>
        <staticContent>
			<mimeMap fileExtension="woff" mimeType="application/font-woff"/>
		</staticContent>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.html"/>
			</files>
		</defaultDocument>
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".json" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>