tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
    
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .streak-{
    &won{
      color: green;
    }
    &draw{
      color: orange;
    }
    &lost{
      color: red;
    }
  }

  .avatar {
    max-height: 2vh;
  }

  .clickable {
    cursor: pointer;
  }